/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    transition: background-image 1s ease-in-out; /* smooth fade */
}

.fade-bg {
    animation: fadeEffect 1s ease-in-out;
}

@keyframes fadeEffect {
    0% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}


.card {
    background: white;
}

